.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.card img {
    max-width: 70%;
    border-radius: 8px;
}

.card h2 {
    margin-top: 10px;
}

.card p {
    margin: 10px 0;
}
.recomendacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulosH1 {
    margin: 2rem; /* Para remover margem padrão do h1 */
    font-size: 40px;
}

.botao {
    margin-left: 2rem; /* Isso empurra o botão para a direita */
}
