*{
    
    font-family: "Barlow Condensed", sans-serif;
}
body {
    background-image: url(assets/bg/bg.png);
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
}

#landing button {
    font-weight: 900;
    padding: 10px 5px;
    font-size: 30px;
    border-radius: 15px;
    border: 1px solid rgba(190, 255, 85, 0.8);
    background: rgba(190, 255, 85, 0.8);
    color: #333;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landing button:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
    color: white;
}

.transparencia {
    background: rgba(255, 255, 255, 0.5);
    width: 50em;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px;
}

.botao {
    font-weight: 900;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid rgba(190, 255, 85, 0.8);
    background: rgba(190, 255, 85, 0.8);
    color: #333;
    border: none;
    cursor: pointer;
    padding: 10px 15px; /* Adicionando padding para manter o tamanho constante */
}

.botao:hover {
    background: rgba(20, 20, 20, .8);
    color: white;
}

.botao:disabled {
    border: 1px solid rgba(66, 66, 66, 0.8);
    background: rgba(66, 66, 66, 0.8);
    color: #ffffff;
}

/*CSS da Tabela*/
.table-container {
    overflow-x: auto;
}

.camp {
    margin-bottom: 15px;
    margin-top: 15px;
    border-collapse: collapse;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    overflow-x: auto; /* Adicionando overflow-x para permitir rolagem horizontal */
}

.camp th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left; /* Evita que o conteúdo da célula seja quebrado em várias linhas */
}

.camp td {
    padding: 8px;
}

.camp td:first-child,
th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.camp td:last-child,
th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.inputText {
    border-radius: 7px;
    margin-right: 15px;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 70%; /* Definindo largura da tabela como 100% */
    
}

td,
a {
    font-weight: 600;
    font-size: 18px;
}

/* Estilos para telas menores que 375px */
@media only screen and (max-width: 375px) {
    .table-container {
        overflow-x: auto;
    }

    .camp th, .camp td {
        font-size: 14px;
    }

    .camp th {
        padding: 6px;
    }

    .camp td {
        padding: 6px;
    }
}

/* Estilos para telas entre 375px e 767px */
@media only screen and (min-width: 376px) and (max-width: 767px) {
    .table-container {
        overflow-x: auto;
    }

    .camp th, .camp td {
        font-size: 16px;
    }

    .camp th {
        padding: 8px;
    }

    .camp td {
        padding: 8px;
    }
}

/* Estilos para telas entre 768px e 1279px */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .table-container {
        overflow-x: auto;
    }

    .camp th, .camp td {
        font-size: 18px;
    }

    .camp th {
        padding: 10px;
    }

    .camp td {
        padding: 10px;
    }
}

/* Estilos para telas maiores ou iguais a 1280px */
@media only screen and (min-width: 1280px) {
    .table-container {
        overflow-x: auto;
    }

    .camp th, .camp td {
        font-size: 20px;
    }

    .camp th {
        padding: 12px;
    }

    .camp td {
        padding: 12px;
    }
}



#btnVoltar {
    font-weight: 900;
    padding: 10px 5px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid rgba(190, 255, 85, 0.8);
    background: rgba(190, 255, 85, 0.8);
    color: #333;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-top: 10px;
}

